* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #a5dc69;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid black;
}

.game-status {
  border-bottom: 4px solid black;
}

.timer {
  font-size: 24px;
  font-weight: bold;
}

.middle {
  position: relative;
}

.random-combination-div {
  width: 30%;
}
#random-combination {
  padding: 7px 0;
}

#random-combination li {
  margin: 4px;
  height: 8vh;
  width: 8vh;
  background-size: cover;
}

#game-over-message,
#winner-message {
  display: none;
  font-weight: bold;
  background-color: black;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#game-over-message {
  color: #ed4234;
}
#winner-message {
  color: green;
}

.player-selection-div {
  border-left: 4px solid black;
  height: 45vh;
  width: 60vw;
}
#player-selection li {
  margin: 4px;
  height: 8vh;
  width: 8vh;
  background-size: cover;
}
.buttons {
  padding-right: 40px;
  margin-left: 20%;
}
button {
  background: yellow;
  border: none;
  border-radius: 3px;
  box-shadow: 4px 4px rgb(196, 196, 32);
  padding: 6px 0;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  margin: 16px;
  width: 140px;
}

#submit-selection,
#clear-selection {
  letter-spacing: 3px;
}

button:focus {
  outline: none;
}

#message {
  display: none;
}

#list-of-all-ingredients {
  border-top: 4px solid black;
  padding: 10px 0;
}

#list-of-all-ingredients li {
  margin: 16px;
  height: 10vh;
  width: 10vh;
  background-size: cover;
}

#list-of-all-ingredients li:hover {
  cursor: pointer;
}

.fillers {
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  list-style-type: none;
}

@media (max-width: 760px) {
  .container {
    margin-top: 0;
  }
  .game-status {
    text-align: left;
    line-height: 8vh;
    font-size: 12px;
  }

  .timer {
    font-size: 14px;
  }
  #random-combination {
    padding: 0;
    margin-right: 30px;
  }

  .player-selection-div {
    height: 32vh;
  }

  #player-selection {
    margin-bottom: 0;
  }

  .buttons {
    padding-right: 40px;
  }
  button {
    padding: 5px 0;
    margin: 5px;
    width: 120px;
  }

  #player-selection li {
    height: 6vh;
    width: 6vh;
  }

  #list-of-all-ingredients {
    padding: 0;
  }

  #list-of-all-ingredients li {
    margin: 10px;
    height: 6vh;
    width: 6vh;
  }
}
