* {
  margin: 0;
  padding: 0;
  background-color: #a5dc69;
  font-family: "Courier New", Courier, monospace;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header,
.middle {
  text-align: center;
  line-height: 1.8;
  margin-bottom: 40px;
}

img {
  height: 60px;
  margin-left: 10px;
  margin-bottom: -16px;
}

h1 {
  margin: 20px 0;
}

.header > p {
  margin-bottom: 20px;
}

.middle div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button-div {
  height: 140px;
  width: 140px;
  margin: 20px 20px;
}

.start-button {
  height: 90%;
  width: 90%;
  background-size: cover;
}

#taco-button {
  background-image: url(../images/hard-taco.png);
}

#burger-button {
  background-image: url(../images/burger.png);
  height: 80%;
  width: 80%;
}

#salad-button {
  background-image: url(../images/salad.png);
}

.start-button:hover {
  transform: scale(1.2);
  transition: transform 0.4s;
}
