.container {
  display: grid;
  grid-template-rows: 10vh 45vh 32vh;
  grid-template-areas:
    "status"
    "middle"
    "bottom";
}

.game-status {
  grid-area: status;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.middle {
  display: grid;
  grid-template-columns: 40% 60%;
}

.random-combination-div,
.buttons,
#player-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player-selection-div {
  display: grid;
  grid-template-columns: 45% 40%;
  grid-template-areas: "list buttons";
}

.buttons {
  grid-area: buttons;
}

#player-selection {
  grid-area: list;
}

#list-of-all-ingredients {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
}
