* {
  margin: 0;
  padding: 0;
}

.container {
  width: 94vw;
  margin: auto;
  margin-top: 40px;
  border: 2px solid black;
}

#game-header h1 {
  text-align: center;
  line-height: 10vh;
}

#game-status {
  text-align: center;
  line-height: 10vh;
}

#random-combination {
  border: 1px solid blue;
}

#player-selection {
  border: 1px solid red;
}

#list-of-all-ingredients {
  border: 1px solid green;
}

#list-of-all-ingredients li {
  margin: 16px;
  height: 13vh;
  width: 13vh;
  background-size: cover;
}

#list-of-all-ingredients li:hover {
  cursor: pointer;
}

ul {
  list-style-type: none;
}
