* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
}

#randomCombination {
  border: 1px solid blue;
  height: 100px;
  margin: 10px;
  padding-left: 40px;
}

#playerSelection {
  border: 1px solid red;
  height: 100px;
  margin: 10px;
  padding-left: 40px;
}

#listOfAllIngredients {
  border: 1px solid green;
  height: 220px;
  margin: 10px;
  padding-left: 40px;
}

#listOfAllIngredients li {
  border: 1px solid green;
  width: 80px;
  margin: 1px;
}

ul {
  list-style-type: none;
}
